@using Capstone.Web.Models;
@{ 
	User sessionValue = Session["User"] as User;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Meal Planner</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />




    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Libre+Franklin|Nanum+Gothic|Quicksand" rel="stylesheet">

    <!--Javascript-->
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.12.0.min.js'></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" style="background-color: white !important">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/Photos/NEW.jpg" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Dashboard", "User")">Dashboard</a>
                </li>
                @{
                    if (sessionValue != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "User")">Logout, @sessionValue.FirstName @sessionValue.LastName</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Home")">Login</a>
                        </li>
                    }
                }

            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/Validation.js"></script>


    @*Footer*@

    <footer>
       
    </footer>

</body>

</html>






